body {
	height: 100vh;
	margin: 0;
	background: linear-gradient(to top, grey, white);
	text-shadow: 2px 2px 5px gray;
}

photo-dubai2 {
	margin-right: 20px;
}
	




h1 {
  color: black;
  text-align: center;
  text-decoration: underline;
  

}

p  { 
  font-family: "Helvetica";
  font-size: 13 px;
}